html, body { height: 100%; }
/*
div.intro {
    background-color: black;
    width: 100%;
    paddingdir(down):5%; idk what this line did lmao, figure it out when you have time 
    
}
#name {
    text-decoration-color: white;
    color: white;
}

b {
    color:blue;
}
*/